//====================================================================================================
.header {
	color: #FFFFFF;
	padding: 10px 0;;
	&__container {
		gap: 10px;
		@media (max-width:$mobile){
			gap: 25px; 
		}
		&_wide {
		}
		
		align-items: center;
		min-height: 121px;
		display: flex;
		position: relative;
		@include adaptiveValue("min-height", 121, 50);
	}
		&__column {
			flex-grow: 0;
			flex-shrink: 0;	
			@include adaptiveValue("flex-basis", 300, 180, 1330, 768, 1);		
			
			&_wide{
				flex: 1 1 auto;
			}
			&_auth{
				align-self: stretch;
			}
		}

	&__logo {
		@extend %cu;
		position: relative;
		z-index: 2;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 44, 25, 1330, 768, 1);
	}

	&__menu {
	
	}

	&__auth {	
		
	}
}
.menu {
	@include adaptiveValue("font-size", 16, 12);

	&__icon {
	}

	&__body {
		@media (max-width:$mobile){
			position: fixed;
			overflow: auto;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			transition: left 0.3s ease 0s;
			background-color: #0c0c0c;
			@include adaptiveValue("padding-top", 170, 100);
			padding-bottom: rem(30);
			&::before{
				content: "";
				position: fixed;
				top: 0;
				width: 100%;
				left: -100%;
				transition: left 0.3s ease 0s;
				background-color: #000;
				@include adaptiveValue("height", 141, 70);
			}
			.menu-open &{
				left: 0;
				&::before{
					left: 0;
				}
			}

	 }
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;	
		row-gap: 5px;
		justify-content: center;
		@include adaptiveValue("column-gap", 32, 15, 1330, 768, 1);
		@media (max-width:$mobile){
			flex-direction: column;
			&:not(:last-child) {margin-bottom: rem(50);}		  
		}
}

	&__item {
	}

	&__link {
		line-height: 175%;
		letter-spacing: 0.04em;
		text-align: center;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				color: $mainHover;
			}
		}
		@media (max-width:$mobile){
			 font-size: rem(25);
		}
	}
}

.header {

	&__auth {
	}
}
.auth-header {
	height: 100%;
	display: flex;
	align-self: stretch;
	gap: 10px 50px;
	justify-content: center;
	@include adaptiveValue("font-size", 16, 12);
		@media (max-width: em(1150)){
		  flex-direction: column;
		  align-items: flex-end;
	}
	@media (min-width: em(1150)) {
		padding: 22px 0;
		justify-content: flex-end;
	}
	@media (max-width:$mobileSmall){
		align-items: center;
		font-size: rem(25);
 }
	&__item {
		display: flex;
		align-items: center;
		position: relative;
		@media (min-width: em(1150)){
			&:not(:last-child){
			&::before{
				content: "";
				position: absolute;
				top: 0;
				right: -25px;
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 1%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 71%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				height: 100%;
				width: 1px;
			}
		}
	}
	}

	&__link {
		line-height: 175%;
		letter-spacing: 0.05em;
		text-align: center;
		text-transform: capitalize;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				color: $mainHover;
			}
		}
	}
}


//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 38px;
		height: rem(22.5);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

